# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
ENV/
env/

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# Testing / cache
.pytest_cache/
.coverage
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Env files
.env
.env.local
